<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/client.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/market.css">
    <style>
        .coverid_video{
            position:absolute;
            top:0;
            left:0;
            min-width: 100%;
            max-height: 100vh;
            width:100%;
            height:100%;
            z-index:-1;
            object-fit:cover;
        }
    </style>
    
</head>


<body>
    <video class="coverid_video" autoplay loop>
        <source src="img/background/dungeonVideo.mp4" type="video/mp4">
    </video>

    <div id="mining_gold">
        <div id="logo_div"><h3>Mining Gold</h3></div>
        <%
        if(user_result){
            let name=user_result.name
        %>
        <div id="logout_div"><%= name%>님 환영합니다</div>
        <button class="btn btn-danger" id="logout_btn">로그아웃</button>
        <%
        }
        %>

    </div>

    <div id="dungeon_div">
        <div id="monster_div"></div>
        <div id="mining_div"></div>
    </div>
 
    <div id="menu_div" class="pull-right" >
        <%
            
            if(!user_result){
        %>
        <div id="login_div">
            <label>ID</label>
            <input type="text" id="userID"><br> 
            <label>PW</label>
            <input type="password" id="userPW"><br>
            <button id="login_btn" class="btn pull-right">로그인</button>
            <button id="register_modal_btn" class="btn pull-right" data-target="#registermodal" data-toggle="modal">회원가입</button>
        </div>
        <%
            }else{
        %>
        <div class="tab">
            <button class="tablinks" id="main_tab">메인</button>
            <button class="tablinks" id="market_tab">상점</button>
            <button class="tablinks" id="inventory_tab">아이템</button>
        </div>
        

        <div id="information_div">
            <div id="nickname_div"><h3>Nick Name - Pickle_SM<br></h3>Lv.10</div>
            <div id="money_div"><h3>Money 1,000,000</h3></div>
        </div>
        <div id="market_div" class="shopping_div">
            <div id="menu_tab">
                <div class="tab_write" id="weapon_tab">무기</div>
                <div class="tab_write" id="hat_tab">모자</div>
                <div class="tab_write" id="glove_tab">장갑</div>
                <div class="tab_write" id="glove_tab">상의</div>
                <div class="tab_write" id="glove_tab">하의</div>
                <div class="tab_write" id="glove_tab">신발</div>
                <div class="tab_write" id="glove_tab">펫</div>
                
            </div>
            <div class="item_list pull-right" id="weapon_list">
                <%
                    for(let i=0;i<weapon;i++){
                %>
                <div class="list1_div">
                    <div id="item_img"></div>
                    <div id="item_info">
                        <ul id="item_ul">
                        <li>123</li>  
                        <li>123</li>  
                        <li>123</li>  
                        </ul>   
                    </div> 
                </div>
                <%       
                }
                %>
            </div>
        </div>
        <div id="inventory_div" class="shopping_div">
            <div id="menu_tab">
                <div class="tab_write" id="weapon_tab">무기</div>
                <div class="tab_write" id="hat_tab">모자</div>
                <div class="tab_write" id="glove_tab">장갑</div>
                <div class="tab_write" id="glove_tab">상의</div>
                <div class="tab_write" id="glove_tab">하의</div>
                <div class="tab_write" id="glove_tab">신발</div>
                <div class="tab_write" id="glove_tab">펫</div>
            </div>
            <div class="item_list pull-right" id="weapon_list">
                <%
                    for(let i=0;i<5;i++){
                %>
                <div class="list1_div">
                    <div id="item_img"></div>
                    <div id="item_info">
                        <ul id="item_ul">
                        <li>123</li>  
                        <li>123</li>  
                        <li>123</li>  
                        </ul>   
                    </div> 
                </div>
                <%       
                }
                %>
            </div>
        </div>

        <%
             }
        %>
    </div>
        
    <div id="character_div" class="pull-right" >
        <div id="profile_bar_div"></div>
        <div id="inventory_view_div">
            <div id="inventory_header">
                <div id="inventory_hat_div"></div>
            </div>
            <div id="inventory_body">
                <div id="body_left">
                    <div id="inventory_weapon_div"></div>
                    <div id="inventory_glove_div"></div>
                </div>
                <div id="body_middle"></div>
                <div id="body_right">
                    <div id="inventory_top_div"></div>
                    <div id="inventory_bottom_div"></div>
                </div>
            </div>
            <div id="inventory_footer">
                <div id="inventory_boots_div"></div>
                <div id="inventory_pet_div" class="pull-right"></div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="registermodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">회원가입</h4>
                </div>
                <div class="modal-body" style="text-align:center;">
                    <label>ID</label><br>
                    <input type="text" id="new_id"><br>
                    <label>PW</label><br>
                    <input type="password" id="new_pw"><br>
                    <label>Nick Name</label><br>
                    <input type="text" id="new_name"><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="register_btn">회원가입</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>