<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/client.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/menu.css">
</head>


<body>
    <div id="dungeon_div">
        <div id="monster_div"></div>
        <div id="mining_div"></div>
    </div>
 
    <div id="menu_div" class="pull-right">
        <div id="menu_tab">
            <div class="tab_write" id="main_tab">메인</div>
            <div class="tab_write" id="market_tab">상점</div>
            <div class="tab_write" id="inventory_tab">아이템</div>
        </div>

        <div id="information_div">
            <div id="nickname_div"><h3>Nick Name - Pickle_SM<br></h3>Lv.10</div>
            <div id="money_div"><h3>Money 1,000,000</h3></div>
        </div>
        <div id="market_div">
            market content
        </div>
        <div id="inventory_div">
            inventory content
        </div>
        
    </div>
        
    <div id="character_div" class="pull-right">
        <div id="profile_bar_div"></div>
        <div id="inventory_view_div">
            <div id="inventory_header">
                <div id="inventory_hat_div"></div>
            </div>
            <div id="inventory_body">
                <div id="body_left">
                    <div id="inventory_weapon_div"></div>
                    <div id="inventory_glove_div"></div>
                </div>
                <div id="body_middle"></div>
                <div id="body_right">
                    <div id="inventory_top_div"></div>
                    <div id="inventory_bottom_div"></div>
                </div>
            </div>
            <div id="inventory_footer">
                <div id="inventory_boots_div"></div>
                <div id="inventory_pet_div" class="pull-right"></div>
            </div>
        </div>
    </div>
</body>
</html>