
<%
    if(item_result){
    for(let i=0;i<item_result.length;i++){
%>
<div class="list_div">
    <div id="item_img">
        <img src="<%=item_result[i].img+(i+1)%>.gif" width="100%" height="100%" style="object-fit:fill;">
    </div>
    <div id="item_info">
        <ul id="item_ul">
            <li><%=item_result[i].name%></li>  
            <li>공격력 : <%=item_result[i].power%></li>  
            <li><%=item_result[i].price%> gold</li>  
        </ul>
    </div>
    <div id="buy_div">
        <button class="btn btn-primary" id="buy_btn">구매</button>
    </div>
</div>
<%       
}}else console.log(item_result);
%>