<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="js/community.js"></script>
    <link rel="stylesheet" href="css/board.css">
</head>

<body>
    <div class="container">
        <h2>Bordered Table</h2>
        <p>The .table-bordered class adds borders to a table:</p>            
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>제목</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>내용</td>
              <td></td>
            </tr>
          </tbody>
        </table>
        <button type='btn btn-basic' id="board_upload">입력</button>
        <button type='btn btn-basic' id="board_write_cancel">취소</button>
      </div>      

</body>
</html>