body{
   background-color:dimgray;
   font-family: Arial;
   margin:0;
   padding:0;
    
}

#mining_gold{
    position:absolute;
    margin-left:30px;
    z-index:1;
}

#logo_div{
    color:white;
    float: left;
    margin-top: 20px;

}

#logo_div h3{
    margin:0;

}

#logout_div{
    margin-left: 10px;
    margin-top: 22px;
    display:inline-block;
    
    color: white;
}


#menu_div{
    width: 400px;
    height:99.9vh;
    margin:0;  
}

#dungeon_div{
    width: 250px;
    height: 99.4vh;
    display: inline-block;
    /* background-color: rgb(88, 255, 219); */
    margin-top:0;
    margin-bottom:0;
    margin-left: 70px;
}

#monster_div{
    width: 250px;
    height: 250px;
    /* background-color:rgba(129, 128, 128, 0.226); */
    margin-top: 150px;
}
#hp_bar_div{
    position:relative;
}

#hp-bar{
    position:absolute;
}

#hp{
    position:absolute;
    left: 45%;
}

#mining_div{
    width: 100%;
    height: 250px;
    /* background-color:rgba(129, 128, 128, 0.226); */
    margin-top: 200px;
    margin-bottom:0;
    position:relative;
}

#pick_div{
    position:absolute;
}

#gold_div{
    position:absolute;
    bottom:-20px;
    margin-left: 30px;
}

#character_div{
    width: 400px;
    height: 99.9vh;
    background-color:mintcream;
    margin-right: 30px;
    /* display: inline-block; */
    display: none;
    position:relative;
    margin-top:0;
    margin-bottom:0;
}

#profile_bar_div{
    width:100%;
    height:150px;
    background:black;
    margin-top: 100px;
}

#inventory_view_div{
    width: 100%;
    height: 60vh;
    background-color: palegreen;
}

#inventory_header{
    width: 100%;
    height: 100px;
    background-color: silver;
    padding-top:1px;
    
}
#inventory_body{
    width: 100%;
    height: 300px;
    background-color: gold;
    
}
#inventory_footer{
    width: 100%;
    height: 100px;
    background-color: silver;
    
}

#body_left{
    width: 25%;
    height: 100%;
    background-color: plum;
    float:left;
    margin:0;
}

#body_middle{
    width: 50%;
    height: 100%;
    background-color: purple;
    float:left;
    margin:0;
}
#body_right{
    width: 25%;
    height: 100%;
    background-color: plum;
    float:left;
    margin:0;
}

#inventory_hat_div{
    width:30%;
    height:80%;
    background: darkblue;
    margin: 10px auto;
}

#inventory_weapon_div{
    width: 80%;
    height: 60%;
    background-color: darkblue;
    margin:15% auto;
}

#inventory_glove_div{
    width: 80%;
    height: 25%;
    background-color: brown;
    margin:auto;
}

#inventory_top_div{
    width: 80%;
    height: 40%;
    background-color:darkblue;
    margin:20% auto;
}

#inventory_bottom_div{
    width: 80%;
    height: 40%;
    background-color: brown;
    margin:auto;
}

#inventory_boots_div{
    width:30%;
    height:80%;
    background: darkblue;
    display:inline-block;
    margin-top: 10px;
    margin-left: 50px;
}

#inventory_pet_div{
    width:30%;
    height:80%;
    background: darkblue;
    display:inline-block;
    margin: 10px 50px;
}

