body{
   background-color:dimgray;

}

#menu_div{
    background-color:lightgray;
    width: 400px;
    height:99.9vh;
    overflow: auto;
    margin:0;  
}

#dungeon_div{
    width: 350px;
    height: 99.4vh;
    display: inline-block;
    background-color: whitesmoke;
    margin-top:0;
    margin-bottom:0;
    margin-left: 30px;
}

#monster_div{
    width: 350px;
    height: 350px;
    background-color: indianred;
    margin-top: 50px;
}

#mining_div{
    width: 100%;
    height: 350px;
    background-color: darkorange;
    margin-top: 70px;
    margin-bottom:0;
}

#character_div{
    width: 400px;
    height: 99.9vh;
    background-color:mintcream;
    margin-right: 30px;
    display: inline-block;
    position:relative;
    margin-top:0;
    margin-bottom:0;
}

#profile_bar_div{
    width:100%;
    height:150px;
    background:black;
    margin-top: 100px;
}

#inventory_view_div{
    width: 100%;
    height: 60vh;
    background-color: palegreen;
}

#inventory_header{
    width: 100%;
    height: 100px;
    background-color: silver;
    padding-top:1px;
    
}
#inventory_body{
    width: 100%;
    height: 300px;
    background-color: gold;
    
}
#inventory_footer{
    width: 100%;
    height: 100px;
    background-color: silver;
    
}

#body_left{
    width: 25%;
    height: 100%;
    background-color: plum;
    float:left;
    margin:0;
}

#body_middle{
    width: 50%;
    height: 100%;
    background-color: purple;
    float:left;
    margin:0;
}
#body_right{
    width: 25%;
    height: 100%;
    background-color: plum;
    float:left;
    margin:0;
}

#inventory_hat_div{
    width:30%;
    height:80%;
    background: darkblue;
    margin: 10px auto;
}

#inventory_weapon_div{
    width: 80%;
    height: 60%;
    background-color: darkblue;
    margin:15% auto;
}

#inventory_glove_div{
    width: 80%;
    height: 25%;
    background-color: brown;
    margin:auto;
}

#inventory_top_div{
    width: 80%;
    height: 40%;
    background-color:darkblue;
    margin:20% auto;
}

#inventory_bottom_div{
    width: 80%;
    height: 40%;
    background-color: brown;
    margin:auto;
}

#inventory_boots_div{
    width:30%;
    height:80%;
    background: darkblue;
    display:inline-block;
    margin-top: 10px;
    margin-left: 50px;
}

#inventory_pet_div{
    width:30%;
    height:80%;
    background: darkblue;
    display:inline-block;
    margin: 10px 50px;
}

